<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="css/master.css">
</head>

<body>

    <section class="lessons">
        <abbr>1</abbr>
        <hgroup>
            <p>1 - Grid</p>
            <h1>Grid</h1>
            <p>20 templates</p>
        </hgroup>

        <main>

            <!-- COLUMNS -->

            <article>
                <iframe src="grid/new_screen.html"></iframe>
                <caption><a href="grid/new_screen.html" target="_blank">grid/new_screen.html</a></caption>
            </article>

            <article>
                <iframe src="grid/one_columns.html"></iframe>
                <caption><a href="grid/one_columns.html" target="_blank">grid/one_columns.html</a></caption>
            </article>

            <article>
                <iframe src="grid/two_columns.html"></iframe>
                <caption><a href="grid/two_columns.html" target="_blank">grid/two_columns.html</a></caption>
            </article>

            <article>
                <iframe src="grid/three_columns.html"></iframe>
                <caption><a href="grid/three_columns.html" target="_blank">grid/three_columns.html</a></caption>
            </article>

            <article>
                <iframe src="grid/four_columns.html"></iframe>
                <caption><a href="grid/four_columns.html" target="_blank">grid/four_columns.html</a></caption>
            </article>

            <!-- ROWS -->

            <article>
                <iframe src="grid/two_rows.html"></iframe>
                <caption><a href="grid/two_rows.html" target="_blank">grid/two_rows.html</a></caption>
            </article>

            <article>
                <iframe src="grid/three_rows.html"></iframe>
                <caption><a href="grid/three_rows.html" target="_blank">grid/three_rows.html</a></caption>
            </article>

            <article>
                <iframe src="grid/four_rows.html"></iframe>
                <caption><a href="grid/four_rows.html" target="_blank">grid/four_rows.html</a></caption>
            </article>

            <article>
                <iframe src="grid/five_rows.html"></iframe>
                <caption><a href="grid/five_rows.html" target="_blank">grid/five_rows.html</a></caption>
            </article>

            <article>
                <iframe src="grid/six_rows.html"></iframe>
                <caption><a href="grid/six_rows.html" target="_blank">grid/six_rows.html</a></caption>
            </article>

            <!-- GRIDS -->

            <article>
                <iframe src="grid/large_grid.html"></iframe>
                <caption><a href="grid/large_grid.html" target="_blank">grid/large_grid.html</a></caption>
            </article>

            <article>
                <iframe src="grid/small_grid.html"></iframe>
                <caption><a href="grid/small_grid.html" target="_blank">grid/small_grid.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_1.html"></iframe>
                <caption><a href="grid/mosaic_1.html" target="_blank">grid/mosaic_1.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_2.html"></iframe>
                <caption><a href="grid/mosaic_2.html" target="_blank">grid/mosaic_2.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_3.html"></iframe>
                <caption><a href="grid/mosaic_3.html" target="_blank">grid/mosaic_3.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_4.html"></iframe>
                <caption><a href="grid/mosaic_4.html" target="_blank">grid/mosaic_4.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_5.html"></iframe>
                <caption><a href="grid/mosaic_5.html" target="_blank">grid/mosaic_5.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_6.html"></iframe>
                <caption><a href="grid/mosaic_6.html" target="_blank">grid/mosaic_6.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_7.html"></iframe>
                <caption><a href="grid/mosaic_7.html" target="_blank">grid/mosaic_7.html</a></caption>
            </article>

            <article>
                <iframe src="grid/mosaic_8.html"></iframe>
                <caption><a href="grid/mosaic_8.html" target="_blank">grid/mosaic_8.html</a></caption>
            </article>










        </main>
    </section>


</body>

</html>