<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 Column</title>
    <style>
        main {
            border: 10px solid red;
            display: flex;
          
        }
        main article{
            flex: 1;
            border: 10px solid blue;            
            
        }
    </style>
</head>
<body>
    
    <main>
        <article>one</article>
        <article>two</article>
    </main>



</body>
</html>