<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>one column</title>
  <link rel="stylesheet" href="one_columns.css" />
  <style>
    .flex-container {
  display: flex;
  justify-content: center;
  height: 300px;
}

.flex-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: greenyellow;

  min-height: 100px;
  text-align: center;
  font-weight: 500;
}

  </style>
</head>

<body>
  <div class="flex-container">
    <div class="flex-item">Column</div>
    <div class="flex-item">Column</div>
  </div>
</body>

</html>