.flex-container {
  display: flex;
  justify-content: center;
  height: 300px;
}

.flex-item {
  width: 200px;
  margin: 10px;
  border: 3px solid #333;
  background-color: greenyellow;

  min-height: 100px;
  text-align: center;
  font-weight: 500;
}
